examples/Inference_by_TPU_example_flow_for_image.json
[
    {
        "id": "3ad5e8ea.198608",
        "type": "tab",
        "label": "ASUS IoT Image Classification",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2aac40a.e08d5c",
        "type": "ui_group",
        "z": "",
        "name": "EdgeTPU Demonstration",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "35",
        "collapse": false
    },
    {
        "id": "10bdae52.747f62",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#2e5ea8",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#2e5ea8",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#2e5ea8",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#5384d0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#2e5ea8",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e511f82.25aa708",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "2aac40a.e08d5c",
        "order": 2,
        "width": 26,
        "height": 1
    },
    {
        "id": "4c208720.3ea298",
        "type": "ui_group",
        "z": "",
        "name": "EdgeTPU Demonstration",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "30",
        "collapse": false
    },
    {
        "id": "6bf8d853.a6cae8",
        "type": "ui_group",
        "z": "",
        "name": "EdgeTPU Demonstration",
        "tab": "8d0bb956.1ae018",
        "order": 3,
        "disp": true,
        "width": "35",
        "collapse": false
    },
    {
        "id": "8d0bb956.1ae018",
        "type": "ui_tab",
        "z": "",
        "name": "ASUS IoT Image Classification",
        "icon": "dashboard"
    },
    {
        "id": "d6876661.126108",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6bf8d853.a6cae8",
        "order": 2,
        "width": 26,
        "height": 1
    },
    {
        "id": "65866e7c.afb3",
        "type": "ui_button",
        "z": "3ad5e8ea.198608",
        "name": "StartDemo",
        "group": "6bf8d853.a6cae8",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "StartDemo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "c0187530.c25558",
                "73c11582.0cc6ec"
            ]
        ]
    },
    {
        "id": "73c11582.0cc6ec",
        "type": "trigger",
        "z": "3ad5e8ea.198608",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "1ab47169.d7811f"
            ]
        ]
    },
    {
        "id": "c0187530.c25558",
        "type": "function",
        "z": "3ad5e8ea.198608",
        "name": "Image_person",
        "func": "\nmsg.payload=\"./node_modules/node-red-contrib-edgetpu-inference/test_data/person.jpg\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "af20a689.9297b8"
            ]
        ],
        "icon": "font-awesome/fa-file-video-o"
    },
    {
        "id": "af20a689.9297b8",
        "type": "SZ Image Classification",
        "z": "3ad5e8ea.198608",
        "name": "",
        "intype": "3",
        "tputype": "0",
        "tpunum": "2",
        "modelpath": "./node_modules/node-red-contrib-edgetpu-inference/test_data/tf2_mobilenet_v3_edgetpu_1.0_224_ptq_edgetpu.tflite",
        "labelpath": "./node_modules/node-red-contrib-edgetpu-inference/test_data/imagenet_labels.txt",
        "threshold": "0.1",
        "topk": "3",
        "resample": "0",
        "outimage": true,
        "loop": false,
        "isparse": false,
        "parselabel": "person",
        "speedup": false,
        "dnscale": "10",
        "dstime": "0",
        "x": 700,
        "y": 420,
        "wires": [
            [
                "29b67048.cb4cd"
            ]
        ]
    },
    {
        "id": "29b67048.cb4cd",
        "type": "ui_result",
        "z": "3ad5e8ea.198608",
        "group": "6bf8d853.a6cae8",
        "name": "",
        "ip": "127.0.0.1",
        "title": "",
        "order": 2,
        "resolution": "1",
        "width": 0,
        "height": 0,
        "x": 940,
        "y": 420,
        "wires": []
    },
    {
        "id": "1ab47169.d7811f",
        "type": "ui_performance",
        "z": "3ad5e8ea.198608",
        "group": "6bf8d853.a6cae8",
        "name": "",
        "ip": "127.0.0.1",
        "title": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "x": 740,
        "y": 280,
        "wires": []
    }
]