examples/Inference_by_TPU_example_flow.json
[
    {
        "id": "484a4066.57495",
        "type": "tab",
        "label": "result flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b62b54bc.47f5b8",
        "type": "function",
        "z": "484a4066.57495",
        "name": "Video_AIOT",
        "func": "\nmsg.payload=\"./node_modules/node-red-contrib-edgetpu-inference/test_data/test.mp4\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 460,
        "wires": [
            [
                "9ddba8c7.d7aa58"
            ]
        ],
        "icon": "font-awesome/fa-file-video-o"
    },
    {
        "id": "9ddba8c7.d7aa58",
        "type": "SZ Object Detection",
        "z": "484a4066.57495",
        "name": "",
        "intype": "2",
        "tputype": "0",
        "tpunum": "0",
        "modelpath": "./node_modules/node-red-contrib-edgetpu-inference/test_data/ssd_mobilenet_v2_coco_quant_postprocess_edgetpu.tflite",
        "labelpath": "./node_modules/node-red-contrib-edgetpu-inference/test_data/coco_labels.txt",
        "threshold": "0.5",
        "topk": "5",
        "keepratio": "0",
        "relativecoord": "0",
        "resample": "0",
        "outimage": true,
        "loop": true,
        "x": 540,
        "y": 460,
        "wires": [
            [
                "eb2c99f7.87bd78"
            ]
        ]
    },
    {
        "id": "eb2c99f7.87bd78",
        "type": "ui_result",
        "z": "484a4066.57495",
        "group": "365bb82b.fd8d18",
        "name": "",
        "title": "Label",
        "order": 1,
        "resolution": "1",
        "width": "21",
        "height": "14",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "d3960755.7f39d8",
        "type": "ui_performance",
        "z": "484a4066.57495",
        "group": "365bb82b.fd8d18",
        "name": "",
        "title": "",
        "order": 2,
        "width": "9",
        "height": "14",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "24bc2238.e885be",
        "type": "ui_button",
        "z": "484a4066.57495",
        "name": "StartDemo",
        "group": "365bb82b.fd8d18",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "StartDemo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "b62b54bc.47f5b8",
                "44161e7.d23cbe"
            ]
        ]
    },
    {
        "id": "44161e7.d23cbe",
        "type": "trigger",
        "z": "484a4066.57495",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "d3960755.7f39d8"
            ]
        ]
    },
    {
        "id": "365bb82b.fd8d18",
        "type": "ui_group",
        "z": "",
        "name": "Default1",
        "tab": "36b75a6f.51b2c6",
        "order": 3,
        "disp": true,
        "width": "30",
        "collapse": false
    },
    {
        "id": "36b75a6f.51b2c6",
        "type": "ui_tab",
        "z": "",
        "name": "List",
        "icon": "dashboard"
    }
]
