examples/Inference_by_TPU_example_flow_for_image.json
[
    {
        "id": "7e66944e.4bc04c",
        "type": "tab",
        "label": "ASUS IoT Image Classification",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cf2348d.3b32eb8",
        "type": "ui_group",
        "z": "",
        "name": "EdgeTPU Demonstration",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "35",
        "collapse": false
    },
    {
        "id": "439d1838.b60278",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#2d5fa8",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#2d5fa8",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#2d5fa8",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#5185d0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#2d5fa8",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "74b27278.46405c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cf2348d.3b32eb8",
        "order": 2,
        "width": 26,
        "height": 1
    },
    {
        "id": "feb83b93.2fdc78",
        "type": "ui_group",
        "z": "",
        "name": "EdgeTPU Demonstration",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "30",
        "collapse": false
    },
    {
        "id": "2ee0f12.c51980e",
        "type": "ui_group",
        "z": "",
        "name": "EdgeTPU Demonstration",
        "tab": "bdf8a883.9fcba8",
        "order": 3,
        "disp": true,
        "width": "35",
        "collapse": false
    },
    {
        "id": "bdf8a883.9fcba8",
        "type": "ui_tab",
        "z": "",
        "name": "ASUS IoT Image Classification",
        "icon": "dashboard"
    },
    {
        "id": "c7e4167.c4f45e8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "2ee0f12.c51980e",
        "order": 2,
        "width": 26,
        "height": 1
    },
    {
        "id": "31496b02.6e6ad4",
        "type": "ui_button",
        "z": "7e66944e.4bc04c",
        "name": "StartDemo",
        "group": "2ee0f12.c51980e",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "StartDemo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "23f5509a.e49f1",
                "5fb846c5.bf2c18"
            ]
        ]
    },
    {
        "id": "5fb846c5.bf2c18",
        "type": "trigger",
        "z": "7e66944e.4bc04c",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "4d1c223c.eeaaac"
            ]
        ]
    },
    {
        "id": "23f5509a.e49f1",
        "type": "function",
        "z": "7e66944e.4bc04c",
        "name": "Image_bird",
        "func": "\nmsg.payload=\"./node_modules/node-red-contrib-edgetpu-inference/test_data/bird.png\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "6088e63a.2b13a8"
            ]
        ],
        "icon": "font-awesome/fa-file-video-o"
    },
    {
        "id": "6088e63a.2b13a8",
        "type": "SZ Image Classification",
        "z": "7e66944e.4bc04c",
        "name": "",
        "intype": "3",
        "tputype": "0",
        "tpunum": "2",
        "modelpath": "./node_modules/node-red-contrib-edgetpu-inference/test_data/tf2_mobilenet_v3_edgetpu_1.0_224_ptq_edgetpu.tflite",
        "labelpath": "./node_modules/node-red-contrib-edgetpu-inference/test_data/imagenet_labels.txt",
        "threshold": "0.1",
        "topk": "3",
        "outimage": true,
        "loop": false,
        "isparse": false,
        "parselabel": "person",
        "speedup": false,
        "dnscale": "10",
        "dstime": "0",
        "x": 700,
        "y": 420,
        "wires": [
            [
                "33890ee2.b5aab2"
            ]
        ]
    },
    {
        "id": "33890ee2.b5aab2",
        "type": "ui_result",
        "z": "7e66944e.4bc04c",
        "group": "2ee0f12.c51980e",
        "name": "",
        "ip": "127.0.0.1",
        "title": "",
        "order": 2,
        "resolution": "1",
        "width": 0,
        "height": 0,
        "x": 940,
        "y": 420,
        "wires": []
    },
    {
        "id": "4d1c223c.eeaaac",
        "type": "ui_performance",
        "z": "7e66944e.4bc04c",
        "group": "2ee0f12.c51980e",
        "name": "",
        "ip": "127.0.0.1",
        "title": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "x": 740,
        "y": 280,
        "wires": []
    }
]