examples/Inference_by_TPU_example_flow.json
[
    {
        "id": "57023ee8.030fa",
        "type": "tab",
        "label": "ASUS IoT Object Detection",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e9ce2c96.042b8",
        "type": "ui_group",
        "z": "",
        "name": "EdgeTPU Demonstration",
        "tab": "2b62772c.311188",
        "order": 3,
        "disp": true,
        "width": "35",
        "collapse": false
    },
    {
        "id": "2b62772c.311188",
        "type": "ui_tab",
        "z": "",
        "name": "ASUS IoT Object Detection",
        "icon": "dashboard"
    },
    {
        "id": "7f03a96d.192848",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#2e5ea8",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#2e5ea8",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#2e5ea8",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#5384d0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#2e5ea8",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "acaf378c.638728",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e9ce2c96.042b8",
        "order": 2,
        "width": 26,
        "height": 1
    },
    {
        "id": "f9099855.51d4f8",
        "type": "function",
        "z": "57023ee8.030fa",
        "name": "Video_AIOT",
        "func": "\nmsg.payload=\"./node_modules/node-red-contrib-edgetpu-inference/test_data/test.mp4\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 460,
        "wires": [
            [
                "fc460f53.c4ceb"
            ]
        ],
        "icon": "font-awesome/fa-file-video-o"
    },
    {
        "id": "fc460f53.c4ceb",
        "type": "SZ Object Detection",
        "z": "57023ee8.030fa",
        "name": "",
        "intype": "2",
        "tputype": "0",
        "tpunum": "0",
        "modelpath": "./node_modules/node-red-contrib-edgetpu-inference/test_data/ssd_mobilenet_v2_coco_quant_postprocess_edgetpu.tflite",
        "labelpath": "./node_modules/node-red-contrib-edgetpu-inference/test_data/coco_labels.txt",
        "threshold": "0.5",
        "topk": "5",
        "keepratio": "0",
        "relativecoord": "0",
        "resample": "0",
        "outimage": true,
        "loop": true,
        "isparse": false,
        "parselabel": "person",
        "speedup": false,
        "dnscale": "20",
        "dstime": "0",
        "x": 560,
        "y": 460,
        "wires": [
            [
                "ed840f2.3966df"
            ]
        ]
    },
    {
        "id": "795e500c.6a7cd",
        "type": "ui_button",
        "z": "57023ee8.030fa",
        "name": "StartDemo",
        "group": "e9ce2c96.042b8",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "StartDemo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "f9099855.51d4f8",
                "67a1b001.d76b6"
            ]
        ]
    },
    {
        "id": "67a1b001.d76b6",
        "type": "trigger",
        "z": "57023ee8.030fa",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "93e3a74.887aa58"
            ]
        ]
    },
    {
        "id": "ed840f2.3966df",
        "type": "ui_result",
        "z": "57023ee8.030fa",
        "group": "e9ce2c96.042b8",
        "name": "",
        "ip": "127.0.0.1",
        "title": "",
        "order": 3,
        "resolution": "1",
        "width": 0,
        "height": 0,
        "x": 780,
        "y": 460,
        "wires": []
    },
    {
        "id": "93e3a74.887aa58",
        "type": "ui_performance",
        "z": "57023ee8.030fa",
        "group": "e9ce2c96.042b8",
        "name": "",
        "ip": "172.21.69.127",
        "title": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "x": 580,
        "y": 320,
        "wires": []
    }
]
