examples/Inference_by_TPU_example_flow.json
[
    {
        "id": "b5cf4e81.1b595",
        "type": "tab",
        "label": "result flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d7abc15d.9c02b",
        "type": "function",
        "z": "b5cf4e81.1b595",
        "name": "Video_city",
        "func": "\nmsg.payload=\"./node_modules/node-red-contrib-edge-tpu/test_data/test.mp4\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 460,
        "wires": [
            [
                "2013f5c5.9da0ea"
            ]
        ],
        "icon": "font-awesome/fa-file-video-o"
    },
    {
        "id": "2013f5c5.9da0ea",
        "type": "SZ Object Detection",
        "z": "b5cf4e81.1b595",
        "name": "",
        "intype": "2",
        "tputype": "0",
        "tpunum": "0",
        "modelpath": "./node_modules/node-red-contrib-edge-tpu/test_data/ssd_mobilenet_v2_coco_quant_postprocess_edgetpu.tflite",
        "labelpath": "./node_modules/node-red-contrib-edge-tpu/test_data/coco_labels.txt",
        "threshold": "0.5",
        "topk": "5",
        "keepratio": "0",
        "relativecoord": "0",
        "resample": "0",
        "outimage": true,
        "x": 540,
        "y": 460,
        "wires": [
            [
                "9f0aa671.73e948"
            ]
        ]
    },
    {
        "id": "9f0aa671.73e948",
        "type": "ui_result",
        "z": "b5cf4e81.1b595",
        "group": "cd8d5087.f050d",
        "name": "",
        "title": "Label",
        "order": 0,
        "resolution": "1",
        "width": "0",
        "height": "0",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "da450bda.80ee18",
        "type": "ui_performance",
        "z": "b5cf4e81.1b595",
        "group": "79ffb604.012868",
        "name": "",
        "title": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "776e989a.6a90f8",
        "type": "ui_button",
        "z": "b5cf4e81.1b595",
        "name": "StartDemo",
        "group": "cd8d5087.f050d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "StartDemo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "d7abc15d.9c02b",
                "afa795d8.c51978"
            ]
        ]
    },
    {
        "id": "afa795d8.c51978",
        "type": "trigger",
        "z": "b5cf4e81.1b595",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "da450bda.80ee18"
            ]
        ]
    },
    {
        "id": "cd8d5087.f050d",
        "type": "ui_group",
        "name": "Default",
        "tab": "36b75a6f.51b2c6",
        "order": 2,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "79ffb604.012868",
        "type": "ui_group",
        "name": "Default1",
        "tab": "36b75a6f.51b2c6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "36b75a6f.51b2c6",
        "type": "ui_tab",
        "name": "List",
        "icon": "dashboard"
    }
]